<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management System</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

    <script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
    <script>
    function createAlert($scope, $http){
    		$scope.roleId = <%- JSON.stringify(roleId) %>;
        $scope.saveAlert = function(){
            console.log('In save client..');
            console.log($scope.client);
            // if($scope.client ==='YES' ){
            //     if($scope.guard === 'YES'){
            //         recipients = 'ALL';
            //     } else {
            //         recipients = 'Client';
            //     }
            // } else {
            //     console.log('Cient not checked..');
            //     if($scope.guard === 'YES'){
            //         recipients = 'Guard';
            //     } else {
            //         alert('Select atlest one recipient.');
            //         return;
            //     }
            // }
            // $scope.client ='NO';
            //         $scope.guard = 'NO';
            $http({
                method : "POST",
                url : "/saveAlertType",
                data : {'alertName':$scope.alertname, 'recipients': {'client' : $scope.client, 'guard' : $scope.guard}}
            }).success(function(res){
                if(res.status === 'Failed'){
                    alert(res.error);
                    if(res.errorCodeNo!==undefined && res.errorCodeNo === '500'){
                        window.location = '/';
                    }
                } else {
                    alert('Saved Alert Type.');
                    $scope.alertname ='';

                }
            })
        }
    }

</script>
    
</head>
<body>
    <div id="wrapper" ng-app = "" ng-controller="createAlert">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">                    
        	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <div class="navbar-brand" >Work Force Management System</div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
            <div ng-show="roleId == 1">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="/dashboard"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="/searchClients"><i class="fa fa-tasks"></i> Clients</a></li>
                    <li><a href="/searchGuards"><i class="fa fa-tasks"></i> Guards</a></li>
                    <li><a href="/searchReports"><i class="fa fa-table"></i> Reports</a></li>
                    <li class="active"><a href="/searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>                        
                    <li><a href="/searchBuildings"><i class="fa fa-list-ol"></i> Schedule</a></li>                    
                </ul>
            </div>
            <div ng-show="roleId == 2">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="/dashboard"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="/profile"><i class="fa fa-tasks"></i> Profile</a></li>
                    <li><a href="/searchReports"><i class="fa fa-table"></i> Reports</a></li>
                    <li class="active"><a href="/searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>
                </ul>
            </div>
            <div ng-show="roleId == 3">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="/dashboard"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="/profile"><i class="fa fa-tasks"></i> Profile</a></li>
                    <li><a href="/createReport"><i class="fa fa-table"></i> Reports</a></li>
                    <li><a href="/submitAlert"><i class="fa fa-bell"></i> Alerts</a></li>
                    <li><a href="/checkIn"><i class="fa fa-list-ol"></i> Checkin</a></li>
                </ul>   
            </div>
            <ul class="nav navbar-nav navbar-right navbar-user">                    
                    <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
                </ul>
          </div>  
        </nav>
        
            <div class="row text-center">
                    <h2>Create Alert Type</h2>
            </div>  
            <div class="col-md-10 container">                           
                <div class="content">                   
                    <form class="form-horizontal">                      
                        <fieldset>    
                            <div class="form-group">      
                                <label for="alertName" class="col-md-3">
                                    Alert Name:
                                </label>
                              
                                <div for="alertName" class="col-md-5">
                                    <input type="text" class="form-control" ng-model="alertname" placeholder="Enter the Alert Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Recipient" class="col-md-3">
                                    Recipient:
                                </label>
            <!--div class="col-md-5">
             <input type="text" class="form-control" id="Recipient" placeholder="Enter recipients">
                                </div>
            </div-->
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label>
                                        <input type="checkbox" ng-true-value="YES" ng-false-value="NO" ng-model="client"> Client</label>
                                    </div> 
                                    <div class="col-md-2">
                                        <label>
                                        <input type="checkbox" ng-true-value="YES" ng-false-value="NO" ng-model="guard"> Guard</label>
                                    </div>   
                                </div>  
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-info" ng-click="saveAlert()">
                            Submit
                        </button>
                    </div>
                    

                </div>      
            </div>
    </div>

</body>
</html>
